@page "/Info/{id:int}" 
@inject DatabaseContext DbContext
@inject PokemonImageGrabber ImageGrabber

<h3>Info</h3>

@if (pokemon is not null)
{


    <div class="card">
        <div class="card-body bg-light">

            <img src="@imageurl" onerror="this.onerror=null;this.src='/img/sadtogepiedit.png';" style="width:500px" align="left"  />

            <h1>@pokemon?.Name</h1>
            <span class="badge text-bg-primary">@pokemon?.Type</span>
            <span class="badge text-bg-secondary">Generation @pokemon?.Generation</span>


            <div> HP </div>
            <div class="progress" style="height: 30px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="@pokemon?.HP" style="width:@(pokemon?.HP*100/255)%" aria-valuemin="1" aria-valuemax="255">@pokemon?.HP</div>
            </div>


            <p>Attack</p>
            <div class="progress" style="height: 30px;">
                <div class="progress-bar progress-bar-striped  progress-bar-animated bg-warning" role="progressbar" aria-valuenow="@pokemon?.Attack" style="width:@(pokemon?.Attack*100/255)%" aria-valuemin="1" aria-valuemax="255">@pokemon?.Attack</div>
            </div>


            <p>Defence</p>
            <div class="progress" style="height: 30px;">
                <div class="progress-bar progress-bar-striped  progress-bar-animated bg-info" role="progressbar" aria-valuenow="@pokemon?.Defence" style="width: @(pokemon?.Defence*100/255)%" aria-valuemin="1" aria-valuemax="255">@pokemon?.Defence</div>
            </div>


            <p>Speed</p>
            <div class="progress" style="height: 30px;">
                <div class="progress-bar progress-bar-striped  progress-bar-animated bg-muted" role="progressbar" aria-valuenow="@pokemon?.Speed" style="width:@(pokemon?.Speed*100/255)%" aria-valuemin="1" aria-valuemax="255">@pokemon?.Speed</div>
            </div>


            <p>BST</p>
            <div class="progress" style="height: 30px;">
                <div class="progress-bar progress-bar-striped  progress-bar-animated bg-danger" role="progressbar" aria-valuenow="@pokemon?.Total" style="width:@(pokemon?.Total*100/800)%" aria-valuemin="150" aria-valuemax="800">@pokemon?.Total</div>
            </div>

        </div>
    </div>






}

else
{
    <p> No Pokemon Found For ID @Id :( </p>

}

@code {
    [Parameter]
    public int Id { get; set; }

    private Pokemon? pokemon;
    private string imageurl; 
    protected override void OnInitialized()
    {
        pokemon = DbContext.Pokemons.SingleOrDefault(p => p.Id == Id);
         imageurl = ImageGrabber.GetImageUrl(pokemon); 
    }

    
 
}
